*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.wrapper{
    display:flex;
}
.options{
    background: rgb(249,249,249);
}
.options ul
{
    display:flex;
}
.options ul li{
    padding:20px;
    list-style: none;

}
.header{
    padding:30px 10px;
}
.quick-link{
    width:20%;
}
.quick-box{
    margin: 30px;
    border: 1px solid rgb(207, 189, 189);
}
.quick-button{
    padding:10px;
   border:1px solid rgb(207, 189, 189);
   background: rgb(249,249,249);
   font-size: 20px;
   font-weight: 500;
}
.quick-button button{
    width:20px;
}
.links{
    padding:5px;
}
.links p{
    padding:5px;
    font-size: 20px;
}
.create{
    width:80%;
    margin:30px;
}
.create-pro{
    border:1px solid rgb(207, 189, 189);
}
.create-box{
    padding:20px;
    border:1px solid rgb(207, 189, 189);
    background: rgb(249,249,249);
}
.create-pro h2{
    padding: 10px;
}
.create-box input{
    margin-left:10px;
}
.create-box button i{
    font-size: 24px;
}
table{
    margin:20px;
   
}
tbody {
  
    background: rgb(207, 189, 189);
}
tbody td{
    padding:10px;
}