.menu li ul {
  display: none;
  background-color: #ffffff;
}

.menu ul {
  list-style: none;
}
.menu > ul > li {
  padding: 0 25px;
}

.menu > ul > li > ul li {
  padding: 10px 20px 10px 5px;
}

.menu ul {
  display: flex;
}

.menu > ul li > ul {
  padding: 0;
  margin: 0;
}

.menu li:hover > ul {
  display: block;
  position: absolute;
  width: max-content;
}

.menu > ul li > ul li > ul {
  left: 100%;
  top: 0%;
}

.menu > ul li a {
  display: block;
  line-height: 20px;
  color: #75b3f1;
  text-decoration: none;
}

section {
  padding-top: 2%;
  margin-top: 30px;
}

.menu {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 150%;
}
