* {
  margin: 0;
  padding: 0;
}

.tittle-web h3 span {
  border-bottom: 2px solid #f26b38;
}

.tittle-web {
  margin-top: 10px;
}

.phim {
  margin-top: 20px;
}

.phim a img {
  max-width: 100%;
  height: auto;
}

.event {
  position: relative;
  width: 100%;
}

.event-choice {
  background-color: black;
}
.event-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.event-middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.event-review {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  padding: 20px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.event-review h2 p {
  width: 100%;
  height: auto;
}

.event:hover .event-img {
  opacity: 0.3;
}

.event:hover .event-middle {
  opacity: 1;
}

.event:hover .event-review {
  opacity: 1;
}

.event-info {
  border: 2px solid gray;
  padding: 10px 20px;
}

.event-info a {
  text-decoration: none;
  color: white;
}

.event-info:hover {
  border: 2px solid black;
  background-color: black;
}

.event-info:hover a {
  color: white;
}

.suggestion-all h3 span {
  border-bottom: 2px solid #f26b38;
}

.suggestion {
  position: relative;
  width: 100%;
}

.suggestion-choice {
  background-color: black;
}
.suggestion-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.suggestion:hover .suggestion-img {
  opacity: 0.3;
}

.suggestion:hover .middle {
  opacity: 1;
}

.muave {
  border: 2px solid gray;
  padding: 10px 20px;
}

.muave a {
  text-decoration: none;
  color: white;
}

.muave:hover {
  border: 2px solid black;
  background-color: black;
}

.muave:hover a {
  color: white;
}

.xemthem {
  border: 2px solid gray;
  padding: 10px 20px;
  width: max-content;
}

.xemthem a {
  text-decoration: none;
  color: black;
}

.xemthem:hover {
  border: 2px solid black;
  background-color: black;
}

.xemthem:hover a {
  color: white;
}

.next-page-bar-position
{
  text-align: right;
  margin-top: 50px;
}

.next-page-bar
{
  display: inline-block;
}

.next-page-bar a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  font-size: 20;
}

.next-page-bar a.active {
  background-color: #000000;
  color: white;
}
.next-page-bar a:hover:not(.active) {
  background-color: #ddd;
}



